/*

		Global Pageflip Styles
		
*/
#pageflip {
	width: 100%;
	background: #ececec;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
}
#pf-pagerin {
	font-family: "Fauna One", "Lucida Grande", Helvetica, sans-serif;
}
#pf-stage {
	background: #ececec;
}
/*
	
		Container HTML Page Styles
		
*/
body {
	margin: 0;
}

.pf-left-side{
	background-color: #fff;
}
/*

		template 1 - Meet Pageflip Styles

*/
img{
	width: 100%;
	height: auto;

}
.canClick, .langSelect{
	cursor: pointer;
}

.langSelect{
	font-family: "Fauna One", "Lucida Grande", Helvetica, sans-serif;
	font-size: 14px;
	line-height: 22px;
	list-style: none;
	background: #ddd;
	padding: 2px;
	color: #777;
	font-weight: bold;
	width: 100px;
		display: block;
		letter-spacing: .15em;
}
#returnBtn{
	position: absolute;
	z-index: 9999;
	height: 10%;
	width: 10%;
	top: 70%;
	 left: 50%;
	display: block;
	margin: auto;
	   transform: translate(-50%, -50%);

}

#returnBtn img{
	height: 100%;
	width: auto;
	cursor: pointer;
	position: relative;
}
#pageflip-controls{
	background: #ececec;
	padding: 8px 0 10px;
}
@media screen and (max-width: 768px){
	
	
	.langSelect{
			
		padding:2px 1px;
		display: block;
		width:20px;

	}
}